{% extends '::base.html.twig' %}

{% block body %}
{% if is_granted("ROLE_USER") %}
<div class="row ">
  <div class="col s12 center ">
    <p><strong><a style="color:inherit;"href="{{path('place_index')}}">Les derniers lieux</a></strong></p>
    <hr>
  </div>
</div>
<div class="slider">
  <ul class="slides">
    {% for place in places %}
    <li>
      <a href=""><img src="{{ asset ('uploads/images/places/') }}{{place.mainPhoto}}"></a>
      <div class="caption center-align v-align">
        <h3 class="light grey-text text-lighten-3 shadow">{{place.name}}</h3>
        <strong class="chip"><a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}">#{{place.city.name}}</a></strong>
        <strong class="chip"><a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}">#{{place.category.name}}</a></strong>
        <br><br>
        <a class="btn" href="{{ path('show_place', { 'name': place.name }) }}">DÉCOUVRIR</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row ">
  <div class="col s12 left-align">
    <p><strong>Lieux qui pourrait vous intéressé</strong></p>
    <hr>
  </div>
</div>
<div class="row">
  {% for place in hobbiesPlaces %}

  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image">
        {% if place.mainPhoto == 'default.jpg' %}
        <a href="#" title="aucune image disponible" class=""><img class="responsive-img" src="{{ asset ('images/default-no-image.png') }}" alt=""></a>
        {% else %}
        <img class="responsive-img"src="{{ asset ('uploads/images/places/') }}{{ place.mainPhoto }}" alt="">
        {% endif %}
        <span class="card-title">

          {% for placeAvgScore in placeAvgScore if place.id == placeAvgScore.place_id %}
          <strong class="chip blue lighten-4">
            <a href="#"title="Moyenne de {{ placeAvgScore.score|round(1, 'floor') }} sur une base de {{placeAvgScore.total}} avis">{{ placeAvgScore.score|round(1, 'floor')}}/5</a>
          </strong>
          {% else %}
          <strong class="chip">
            <a href="#"title="Il n'y a pas encore d'avis pour ce lieu">~/5</a>
          </strong>
          {% endfor %}
          <strong class="chip"><a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}" style="color:black;">#{{place.city.name}}</a></strong>
          <strong class="chip"><a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}" style="color:black;">#{{place.category.name}}</a></strong>
        </span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title" >{{ place.name|upper }}
          </span>

        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'name': place.name }) }}">Voir</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<div class="row left-align">
  <p><strong>Près de chez vous</strong></p>
  <hr>
</div>
<div class="row">
  {% for place in areaPlaces %}

  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image">
        {% if place.mainPhoto == 'default.jpg' %}
        <a href="#" title="aucune image disponible" class=""><img class="responsive-img" src="{{ asset ('images/default-no-image.png') }}" alt=""></a>
        {% else %}
        <img class="responsive-img"src="{{ asset ('uploads/images/places/') }}{{ place.mainPhoto }}" alt="">
        {% endif %}
        <span class="card-title">

          {% for placeAvgScore in placeAvgScore if place.id == placeAvgScore.place_id %}
          <strong class="chip blue lighten-4">
            <a href="#"title="Moyenne de {{ placeAvgScore.score|round(1, 'floor') }} sur une base de {{placeAvgScore.total}} avis">{{ placeAvgScore.score|round(1, 'floor')}}/5</a>
          </strong>
          {% else %}
          <strong class="chip">
            <a href="#"title="Il n'y a pas encore d'avis pour ce lieu">~/5</a>
          </strong>
          {% endfor %}
          <strong class="chip"><a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}" style="color:black;">#{{place.city.name}}</a></strong>
          <strong class="chip"><a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}" style="color:black;">#{{place.category.name}}</a></strong>
        </span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title" >{{ place.name|upper }}
          </span>

        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'name': place.name }) }}">Voir</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
























{% else %}
<div class="row">
  <div class="col s12 m12 l12 center">
    <h3>Bienvenue sur FreetimeAdvisor !</h3>
  </div>
</div>
<div class="row">
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="{{ asset ('images/place1.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="shadow">Découvrez et faites découvrir </h3>
          <h5 class="light grey-text text-lighten-3 shadow">FreetimeAdvisor c'est d'abord un lieu où on partage ses experiences !</h5>
        </div>
      </li>
      <li>
        <img src="{{ asset ('images/place2.jpg') }}"> <!-- random image -->
        <div class="caption left-align vertical-middle">
          <h3 class="shadow">Chaque lieu à une histoire</h3>
          <h5 class="light grey-text text-lighten-3 shadow">Découvrons ou redécouvrons ensemble de nouveaux lieux !</h5>
        </div>
      </li>
      <li>
        <img src="{{ asset ('images/place3.jpg') }}"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="shadow">Ne vous ennuyez plus pendant vôtre temps libre </h3>
          <h5 class="light grey-text text-lighten-3 shadow">FreetimeAdvisor vous aidera selon vos préférence</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
