{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}
{# {% extends "OCPlatformBundle::layout.html.twig" %} #}
<!DOCTYPE html>
<html>
<head>
  <title>Affichage de l'annonce {{ id }}</title>
</head>
<body>
  <h1>Affichage de l'annonce n°{{ id }} !</h1>

  <div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
    <p>Message flash : {{ message }}</p>
    {% endfor %}
  </div>

  <p>
    Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
    Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
  </p>
  <h3>
{% if id is defined %}
{{ id }} existe!!
{% endif %}
</h3>
<h2>
  {% if id < 12 %}
  Il faut avoir au moins 12 ans pour ce film.
  {% elseif id < 18 %}
  OK bon film.
  {% else %}
  Un peu vieux pour voir ce film non ?
{% endif %}
</h2>
</body>
</html>
