<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}3xAdvisor!{% endblock %}</title>

  {% block stylesheets %}
  <!--  Main CSS Style -->
  <link rel="stylesheet" type="" href="{{ asset ('css/main.css') }}">
  <link href="{{ asset ('css/lightbox.css') }}" rel="stylesheet">
  <!-- CSS animation  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!-- materialize CSS -->
  <link href="{# asset('css/materialize.css') #}" rel="stylesheet"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Google font  -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Satisfy|Sedgwick+Ave" rel="stylesheet">
  <!-- icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/7e9c620a85.js"></script>
  <!-- Viewport Responsive -->
  <meta name="viewport" content="initial-scale=1.0">
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{ asset ('images/logo-black.png') }}" />
</head>
<body>
{% block header %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="black cyan accent-4 navbar-fixed">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo animated jackInTheBox vertical-align-center">
      <img width="140"class="vertical-middle" src="{{ asset ('images/logo-plaintext.png') }}">
    </a>
    <a data-activates="slide-out" class="button-collapse show-on-large center"><i class="material-icons hide-on-large-only left">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if is_granted("ROLE_USER") %}
      <li><a href="{{ path('discover_place') }}"><i class="material-icons left">navigation</i>découvrir</a></li>
      <li><a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons left">account_circle</i>{{ app.user.username }}<i class="material-icons right">menu</i></a></li>
      {% else %}
      <li><a href="/login"><i class="material-icons left">input</i>connexion</a></li>
      <li><a href="/register"><i class="material-icons left">account_circle</i> inscription</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% if is_granted("ROLE_USER") %}
<ul id="slide-out" class="side-nav">
  <li><div class="user-view cyan accent-4">
    <div class="background">
      <img src="">
    </div>
    <a href="{{ path('user_profile_edit') }}"><img class="circle" src="{{ asset ('uploads/images/users/') }}{{ app.user.avatar }}"></a>
    <a href="{{ path('user_profile_edit') }}"><span class="white-text name"><i class="material-icons left">account_circle</i>{{ app.user.username }}</span></a>
    <a href="{{ path('user_profile_edit') }}"><span class="white-text email"><i class="material-icons left">email</i>{{ app.user.email }}</span></a>
  </div></li>
  <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Tableau de bord</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#profil"><i class="material-icons left">perm_contact_calendar</i>Voir profil</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#avis"><i class="material-icons left">assignment_turned_in</i>Mes avis</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#lieux"><i class="material-icons left">location_on</i>Mes lieux</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#favoris"><i class="material-icons left">star</i>Mes favoris</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Action</a></li>
  <li><a class="waves-effect" href="{{ path('place_index') }}"><i class="material-icons right">filter_hdr</i>Les derniers lieux ajoutés</a></li>
  <li><a class="waves-effect" href="{{ path('new_place') }}"><i class="material-icons right">add_location</i>Ajouter un lieu</a></li>
  <li><a class="waves-effect" href="{{ path('discover_place') }}"><i class="material-icons right">navigation</i>Découvrir</a></li>


</ul>

{% else %}
<ul id="slide-out" class="side-nav">
  <li><div class="user-view cyan accent-4">
    <div class="background">
    </div>
    <img width="140"class="vertical-middle " src="{{ asset ('images/logo-plaintext.png') }}">
    <a href="#!name"><span class="white-text name"><i class="material-icons left"></i>Bienvenue sur 3xAdvisor ! <br>Inscrivez-vous et partagez vos plus belles découvertes !</span></a>
  </div></li>
  <li><a href="/login"><i class="material-icons left">exit_to_app</i>Connexion</a></li>
  <li><a href="/register"><i class="material-icons left">account_circle</i>inscription</a></li>
  <!-- <li><a class="waves-effect" href="#!">Mes lieux</a></li> -->
</ul>
{% endif %}
{% endblock %}
<div class="container white">
{% block body %}
{% endblock %}
</div>

{% block footer %}
<footer class="page-footer cyan accent-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="/"><img width="250"class="vertical-middle" src="{{ asset ('images/logo-plaintext.png') }}"></a>
        <p class="grey-text text-lighten-4">Site créé par Frédéric Boyer dans le cadre de son passage au titre professionnel "Développeur logiciel" de niveau III.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Freetime Advisor
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
{% endblock %}


{% block javascripts %}
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Materialize  JS CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
<!-- <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script> -->
<!--  -->
<script src="{{ asset ('js/lightbox.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
  // $('.slider').slider();
  $('.slider').slider({transition: 1000});
  $(".button-collapse").sideNav({
    closeOnClick: true,
  });
  $('.materialboxed').materialbox();
  $('.carousel').carousel();
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: true // Close upon selecting a date,
  });
  $('select').material_select();
  $('input#input_text, textarea#fos_user_registration_form_description').characterCounter();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 30, // Creates a dropdown of 15 years to control year
    format: 'dd/mm/yyyy'
  });
  $('.materialboxed').materialbox();
  $('.modal').modal();
});

function changeText()
{
  document.getElementById('add').innerHTML = '<i class="material-icons left">star</i>Ajouté';
}

lightbox.option({
  'resizeDuration': 200,
  'wrapAround': true
})

</script>
{% endblock %}
</body>
</html>
