{% extends '::base.html.twig' %}
{% block body %}

<div class="row center">
  <h4>Les derniers lieux</h4>
</div>
<div class="row">
  {% for place in places %}

  <div class="col s12 m4">
    <div class="card ">
        <div class="card-image">
        <img width="50"src="{{ asset ('uploads/images/places/') }}{{ place.bestPicture }}" alt="">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5><strong>{{place.name|upper}}</strong></h5>

          <div class="chip">
            <a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}" style="color:black;">#{{place.city.name}}</a>
          </div>
          <div class="chip">
            <a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}">#{{place.category.name}}</a>
          </div>
          <div class="chip">
            <p class="small"> ajouté le {{place.date|date("d/m/Y")}}</p>
          </div>
        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'name': place.name }) }}">Voir</a>
          <a href="{{ path('edit_place', { 'name': place.name }) }}">Modifier</a>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}
  <hr>
</div>
<div class="row center">
  <a href="{{ path('new_place') }}" class="btn">ajouter un lieu</a>
</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <h5>rechercher</h5>
  </div>
</div>
{{ render(controller('FreetimeAdvisorBundle:Place:searchPlace')) }}


{% endblock %}
