{% extends '::base.html.twig' %}
{% block body %}

<div class="row center">
  <h4>Les derniers lieux</h4>
</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <h5>rechercher</h5>
  </div>
</div>
<div class="row">
{{ render(controller('FreetimeAdvisorBundle:Place:searchPlace')) }}
</div>
<div class="row">
  {% for place in places %}

  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image">
        <img src="{{ asset ('uploads/images/places/') }}{{ place.mainPhoto }}" alt="">
        <span class="card-title">
          <strong class="chip"><a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}" style="color:black;">#{{place.city.name}}</a></strong>
          <strong class="chip">            <a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}" style="color:black;">#{{place.category.name}}</a></strong>
        </span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title" >{{ place.name|upper }}</span>

        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'name': place.name }) }}"><i class="material-icons left">visibility</i>Voir</a>
          {% if app.user.id == place.user.id %}
          <a href="{{ path('edit_place', { 'name': place.name }) }}">Modifier</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  {% endfor %}
  <hr>
</div>
<div class="row center">
  <a href="{{ path('new_place') }}" class="btn">ajouter un lieu</a>
</div>



{% endblock %}
