{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
  <div class="col s12 m12 l12 center">
    <h3>{{place.name|upper}}</h3>
    {% if place.user.id == app.user.id %}
    <a href="{{ path('edit_place', { 'name': place.name }) }}">Modifier ce lieu</a>
    <a href="{{ path('user_new_favorite', {'id': place.id }) }}">Ajouter aux favoris</a>

  {% endif %}
  </div>
</div>
<div class="row">
  <div class="carousel " >
    {% for photo in place.photo %}
    <a data-lightbox="roadtrip"  data-title="Lieu: {{ photo.place.name|upper}} , ajouté par {{ photo.user.username}} " class="carousel-item" href="{{ asset ('uploads/images/places/') }}{{ photo.name }}"><img src="{{ asset ('uploads/images/places/') }}{{ photo.name }}"></a>
    {% endfor %}
  </div>

</div>
<div class="row left">
  <div class="col s12 m12 l12 ">
    <div class="chip">
      <a href="#">#{{place.category.name}}</a>
      <!-- <i class="close material-icons">close</i> -->
    </div>

  </div>

</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <h5>Descriptions</h5>
  </div>
  <div class="col s12 m12 l12 center">
    <p>{{place.description}}</p>

  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <h5>Informations</h5>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <p><strong>Ville :</strong> {{place.city.name}}</p>
  </div>
  <div class="col s12 m12 l12">
    <p><strong>Location :</strong> {{place.location}}</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <hr>
    <h5>les avis :</h5>
  </div>

</div>
<div class="row">
  <div class="col s12 m12 l12">
    <ul class="collection">
      {% for advice in place.advice %}
      <li class="collection-item avatar ">
        <img src="{{ asset ('uploads/images/users/') }}{{ advice.user.avatar }}" alt="" class="circle">
        <span class="title"><strong>{{advice.title}}</strong></span>
        <p class="">par : {{advice.user.username}}
          {% if advice.user.id == app.user.id %}
          <a href="{{ path('edit_advice', {'name': advice.place.name,'id': advice.id }) }}">Modifier mon avis</a>
          {% endif %}
        </p>

        <p class="truncate"> {{advice.comment}}</p>
        {% if advice.score == 5 %}
        <a href="#!" class="secondary-content"><i class="yellow-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 4 %}
        <a href="#!" class="secondary-content"><i class="blue-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 3 %}
        <a href="#!" class="secondary-content"><i class="green-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 2 %}
        <a href="#!" class="secondary-content"><i class="orange-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 1 %}
        <a href="#!" class="secondary-content"><i class="red-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% endif %}
      </li>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 center">
      <a href="{{ path('new_place_advice', {'name': place.name }) }}" class="btn "> écrire un avis</a>

    </div>

  </div>
</ul>
{% endblock %}
