{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
  <div class="col s12 m12 l12 center">
    <h3>{{place.name|upper}}</h3>
    {% if place.user.id == app.user.id %}
    <a href="{{ path('edit_place', { 'name': place.name }) }}"><i class="material-icons">edit</i>Modifier ce lieu</a>
    {% endif %}
  </div>
</div>
<div class="row center">
  <p>Ajouté par : {{ place.user.username }} le {{ place.date|date('d/m/Y')}}</p>
</div>

{% if place.mainPhoto is defined %}
<div class="row">
  <img class="col s12 m6 offset-m3 l6 offset-l3 responsive-img" data-caption="photo principale de : {{place.name}}" src="{{ asset ('uploads/images/places/') }}{{ place.mainPhoto }}">

</div>

{% endif %}
<div class="row">
  <div class="col s12 m7 l5  left">
    <div class="chip">
      <a href="#">#{{place.city.name}}</a>
    </div>
    <div class="chip">
      <a href="#">#{{place.category.name}}</a>
    </div>
  </div>
  <div class="col s12 m5 offset-l4 l3">
    {% if favorites.userId is defined %}
    <a href="{{ path('delete_favorite', {'id': favorites.id }) }}"> <i class="material-icons right red-text">favorite</i>retirer des favoris </a>
    {% else %}
    <a href="{{ path('user_new_favorite', {'id': place.id }) }}"><i class="material-icons left ">favorite</i>Ajouter aux favoris</a>
    {% endif %}
  </div>
</div>

<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons">line_weight</i>Description</div>
    <div class="collapsible-body"><span>{{place.description}}</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Localisation</div>
    <div class="collapsible-body"><span>{{ place.location}}</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">collections</i>Galerie</div>
    <div class="collapsible-body">
      <div class="row center">
        <div class="carousel " style="background-color:rgba(213, 213, 213, 0.5);" >
          {% for photo in place.photo %}
          <a data-lightbox="roadtrip"  data-title="Lieu: {{ photo.place.name|upper}} , ajouté par {{ photo.user.username}} " class="carousel-item" href="{{ asset ('uploads/images/places/') }}{{ photo.name }}"><img src="{{ asset ('uploads/images/places/') }}{{ photo.name }}"></a>
          {% else %}
          <p>il n'y a pas encore de photo pour ce lieu</p>
          {% endfor %}
        </div>
      </div>


    </div>
  </li>
</ul>


<div class="row">
  <hr>
  <div class="col s12 center">
    <h5>Moyenne des avis : {{placeAvgScore.score|round(1, 'floor')}}/5<i class="material-icons  yellow-text">grade</i></h5>
    <p>Sur une base de {{placeAvgScore.total}} avis</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <ul class="collection">
      {% for advice in place.advice %}
      <li class="collection-item avatar ">
        <img src="{{ asset ('uploads/images/users/') }}{{ advice.user.avatar }}" alt="" class="circle">
        <span class="title"><strong>{{advice.title}}</strong>
          <p class="">par : {{advice.user.username}}
            {% if advice.user.id == app.user.id %}
            <p>
              <a href="{{ path('edit_advice', {'name': advice.place.name,'id': advice.id }) }}">Modifier </a>|
              <a href="{{ path('delete_advice', {'name': advice.place.name,'id': advice.id }) }}">Supprimer</a>
              mon avis
            </p>
          </span>
          {% else %}

          {% endif %}
        </p>

        <p class="truncate"> {{advice.comment}}</p>
        {% if advice.score == 5 %}
        <a href="#!" class="secondary-content"><i class="yellow-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 4 %}
        <a href="#!" class="secondary-content"><i class="blue-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 3 %}
        <a href="#!" class="secondary-content"><i class="green-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 2 %}
        <a href="#!" class="secondary-content"><i class="orange-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% elseif advice.score == 1 %}
        <a href="#!" class="secondary-content"><i class="red-text material-icons left">grade</i>{{advice.score}} / 5</a>
        {% else %}
        <p>score non valide</p>
        {% endif %}
      </li>
      {% else %}
      <p  class=" center red-text">il n'y a pas encore d'avis pour ce lieu</p>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 center">
    <a href="{{ path('new_place_advice', {'name': place.name }) }}" class="btn "> écrire un avis</a>

  </div>

</div>
{% endblock %}
