{% extends '::base.html.twig' %}
{% block body %}
<script type="text/javascript">
$(".submit").click(function() {
  $("#result").location.reload();
});
</script>
<div class="row">
  <div class="col s12 m12 l12 center">
    <h4>Rechercher</h4>
  </div>
</div>

{{ render(controller('FreetimeAdvisorBundle:Place:searchPlace')) }}
<div class="row center">
  <h5>Résultat de la recherche :</h5>
</div>
<div class="row " id="#result">


  {% for place in places %}

  <div class="col s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ asset ('uploads/images/users/') }}" alt="">
        <p>
        </p>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5><strong>{{place.name}}</strong></h5>

          <div class="chip">
            <a href="{{ path('searchPlaceByCity', { 'city_name': place.city.name }) }}" style="color:black;">#{{place.city.name}}</a>
          </div>
          <div class="chip">
            <a href="{{ path('searchPlaceByCategory', { 'category_name': place.category.name }) }}">#{{place.category.name}}</a>
          </div>
        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'name': place.name }) }}">Voir</a>
          <a href="{{ path('edit_place', { 'name': place.name }) }}">Modifier</a>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="center">
    <p>Aucun Lieu trouvé </p>
    <a href="{{path('place_index')}}">Voir les derniers lieux</a>

  </div>


  {% endfor %}
</div>
{% endblock %}
