{% extends "::base.html.twig" %}

{% block header %}
<ul id="slide-out" class="side-nav">
  <li><div class="user-view cyan accent-4">
    <div class="background">
      <img src="">
    </div>
    <a href="#!user"><img class="circle" src="{{ asset ('uploads/images/users/') }}{{ app.user.avatar }}"></a>
    <a href="#!name"><span class="white-text name"><i class="material-icons left">account_circle</i>{{ app.user.username }}</span></a>
    <a href="#!email"><span class="white-text email"><i class="material-icons left">email</i>{{ app.user.email }}</span></a>
  </div></li>
  <li><a href="{{ path('home') }}"><i class="material-icons left">home</i>Accueil</a></li>
  <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Tableau de bord</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#profil"><i class="material-icons left">perm_contact_calendar</i>Voir profil</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#avis"><i class="material-icons left">assignment_turned_in</i>Mes avis</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#lieux"><i class="material-icons left">location_on</i>Mes lieux</a></li>
  <li><a class="waves-effect" href="{{ path('user_dashboard') }}#favoris"><i class="material-icons left">star</i>Mes favoris</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Action</a></li>
  <li><a class="waves-effect" href="{{ path('place_index') }}"><i class="material-icons right">filter_hdr</i>Les derniers lieux ajoutés</a></li>
  <li><a class="waves-effect" href="{{ path('new_place') }}"><i class="material-icons right">add_location</i>Ajouter un lieu</a></li>
  <li><a class="waves-effect" href="{{ path('discover_place') }}"><i class="material-icons right">navigation</i>Découvrir</a></li>

  <!-- <li><a class="waves-effect" href="#!">Mes lieux</a></li> -->
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a> -->
<nav class="black cyan accent-4 navbar-fixed nav-extended ">
  <div class="nav-wrapper">
    <a href="{{ path('home') }}" class="brand-logo animated jackInTheBox vertical-align-center hide-on-med-and-down" >
      <img width="140"class="vertical-middle" src="{{ asset ('images/logo-plaintext.png') }}">
    </a>
    <a data-activates="slide-out" class="button-collapse show-on-large brand-logo center" style="font-size:1em;"><i class="material-icons hide-on-large-only left">menu</i> Tableau de bord</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{{ path('discover_place') }}"><i class="material-icons left">navigation</i>découvrir</a></li>
      <li><a data-activates="slide-out" class="button-collapse show-on-large">Menu<i class="material-icons right">menu</i></a></li>
    </ul>
  </div>
  <!-- for desktop -->
  <div class="nav-content white darken-1 hide-on-med-and-down">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="{{ path('user_dashboard') }}#profil"><i class="material-icons left">account_circle</i>Voir profil</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#avis"><i class="material-icons left">assignment_turned_in</i>Mes avis</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#lieux"><i class="material-icons left medium">location_on</i>Mes lieux</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#favoris"><i class="material-icons left medium">star</i>Mes favoris</a></li>
    </ul>
  </div>
  <!-- for mobile -->
  <div class="nav-content white darken-1 hide-on-large-only">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="{{ path('user_dashboard') }}#profil"><i class="material-icons left">account_circle</i>profil</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#avis"><i class="material-icons left">assignment_turned_in</i>avis</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#lieux"><i class="material-icons left medium">location_on</i>lieux</a></li>
      <li class="tab"><a href="{{ path('user_dashboard') }}#favoris"><i class="material-icons left medium">star</i>favoris</a></li>
    </ul>
  </div>

</nav>
<!-- PROFIL -->
<div id="profil" class="row center ">
  <div class="col s12 m12 l12">
    <h3>Mon profil</h3>
  </div>
  <div class="col s12">
    <h5>{{app.user.username}}</h5>
  </div>
  <div class="col s12">
    <img class="circle" style="border:3px solid grey;" width="120" height="120" src="{{ asset ('uploads/images/users/') }}{{ app.user.avatar }}">
  </div>
  <div class="col s12">
    <p><strong>Email</strong></p>
  </div>
  <div class="col s12">
    <p>{{app.user.email}}</p>
  </div>
  <div class="col s12">
    <p><strong>Date de naissance</strong></p>
  </div>
  <div class="col s12">
    <p>{{app.user.birthDate|date('d/m/Y')}}</p>
  </div>
  <div class="col s12">
    <p><strong>Ville</strong></p>
  </div>
  <div class="col s12">
    <p>{{app.user.city.name}}</p>
  </div>
  <div class="col s12">
    <p><strong>Ma description</strong></p>
  </div>
  <div class="col s12">
    {% if app.user.description is null %}
    <p>vous n'avez pas de description </p>
    {% else %}
    <p>{{app.user.description}}</p>
    {% endif %}
  </div>
  <div class="col s12">
    <a  class="btn" href="{{ path('user_profile_edit') }}"><strong>Modifier mon profil</strong></a>
  </div>
  <div class="col s12">
    <p><strong>Mes loisirs favoris</strong></p>
  </div>
  <div class="col s2 offset-s3">
    {% if hobbies is null %}
    {% else %}
    <p>{{ hobbies.first.name}}</p>
    {% endif %}
  </div>
  <div class="col s2 ">
    {% if hobbies is null %}
    <p>Vous n'avez pas encore défini de catégories préférés </p>
    {% else %}
    <p>{{ hobbies.second.name}}</p>
    {% endif %}
  </div>
  <div class="col s2 ">
    {% if hobbies is null %}
    {% else %}
    <p>{{ hobbies.third.name}}</p>
    {% endif %}
  </div>
  <div class="col s12">
    {% if hobbies is null %}
    <a  class="btn" href="{{ path('user_select_hobbies') }}"><strong>Ajouter</strong></a>
    {% else %}
    <a  class="btn" href="{{ path('user_edit_hobbies', {'id': hobbies.id }) }}"><strong>Modifier mes loisirs</strong></a>
    {% endif %}
  </div>

</div>
<!-- AVIS -->
<div id="avis" class="row ">
  <div class="col s12 m12 l12 center">
    <h3>Mes avis</h3>
  </div>
  <div class="col s12">

    {% for advice in advices %}
    <ul class="collection with-header">
      <!-- <li class="collection-header"><h4>Mes avis</h4></li> -->
      <li class="collection-item">
        <div>
          <strong><a href="{{ path('show_place', {'name': advice.place.name }) }}">{{ advice.place.name|upper }}</a></strong>
          <br><strong>{{advice.title}}</strong>
          <br>{{ advice.comment }}
          <br>    le {{advice.createdAt|date('d/m/Y à h:m')}}
          <br>
          {% for photo in advice.photo %}
          {% if photo.advice.id == advice.id %}
          <div class="" style="display:inline-block;">
            <img width="30" height="30" class="materialboxed" src="{{ asset ('uploads/images/advices/') }}{{ photo.name }}">
          </div>
          {% endif %}
          {% else %}
          <p><strong>pas de photos </strong></p>
          {% endfor %}
          <br>
          <a class="secondary-content" href="{{ path('new_photo_advice', {'place_name': advice.place.name,'advice_id': advice.id }) }}"><i class="material-icons teal-text text-lighten-2">add_a_photo</i> </a>
          <a  class="secondary-content"href="{{ path('edit_advice', {'name': advice.place.name,'id': advice.id }) }}"><i class="material-icons">edit</i>  </a>
          <a  class="secondary-content"href="{{ path('delete_advice', {'name': advice.place.name,'id': advice.id }) }}"><i class="material-icons red-text">delete</i>  </a>
        </div>
      </li>
    </ul>
    {% else %}
    <div class="row center">
      <p>vous n'avez pas encore donné d'avis sur des lieux que vous avez  visité.</br>
        Vos avis apparaîtrons ici quand vous en aurez posté</p>
        <br>
        <a href="{{ path('place_index')}}" class="btn">Voir les lieux </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- LIEUX -->
  <div id="lieux" class="row center">
    <div class="col s12 m12 l12">
      <h3>Mes lieux</h3>
    </div>
    <div class="row">
      {% for place in places %}

      <div class="col s12 m8 offset-m2">
        <div class="card blue-grey darken-1">
          <div class="card-image">
            <!-- <img class="responsive-img"src="{{ asset ('uploads/images/places/') }}{{ place.mainPhoto }}" alt=""> -->
          </div>
          <div class="card-content white-text">
            <span class="card-title">{{ place.name|upper }}</span>
            <p> {{ place.city.name }}</p>
          </div>
          <div class="card-action">
            <a href="{{ path('show_place', { 'name': place.name }) }}">Voir</a>
            <a href="{{ path('edit_place', { 'name': place.name }) }}">Modifier</a>
          </div>
        </div>
      </div>
      {% else %}
      <p>vous n'avez pas encore créé de lieu. Voulez-vous en créé un ?</p></br>
      {% endfor %}
    </div>
    <div class="row center">
      <a class="btn " href="{{ path('new_place') }}">Ajouter un lieu</a>

    </div>

  </div>
  <!-- FAVORIS -->

  <div id="favoris" class="row center">
    <div class="col s12 m12 l12">
      <h3>Mes favoris</h3>
    </div>
    <div class="row">
      {% for favorite in favorites %}

      <div class="col s12 m8 offset-m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ favorite.place.name|upper }}</span>
            <p> {{ favorite.place.city.name }}</p>
          </div>
          <div class="card-action">
            <a href="{{ path('show_place', { 'name': favorite.place.name }) }}">Voir</a>
            <a class="red-text" href="{{ path('delete_favorite', {'id': favorite.id }) }}"> Supprimer</a>

          </div>
        </div>
      </div>
      {% else %}
      <p>vous n'avez pas encore choisit de lieux favoris. Pour cela, rendez vous sur une fiche d'un lieu existant et ajouter le à vos favoris. Vous les retrouverez ici !</p></br>
      <a href="{{ path('place_index')}}" class="btn">Voir les lieux </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block body %}


{% endblock %}
