{% extends "::base.html.twig" %}

{% block header %}
{% if is_granted("ROLE_USER") %}
<ul id="slide-out" class="side-nav">
  <li><div class="user-view cyan accent-4">
    <div class="background">
      <img src="">
    </div>
    <a href="#!user"><img class="circle" src="{{ asset ('uploads/images/users/') }}{{ app.user.avatar }}"></a>
    <a href="#!name"><span class="white-text name"><i class="material-icons left">account_circle</i>{{ app.user.username }}</span></a>
    <a href="#!email"><span class="white-text email"><i class="material-icons left">email</i>{{ app.user.email }}</span></a>
  </div></li>
  <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Tableau de bord</a></li>
  <li><a class="waves-effect" href="/dashboard#profil"><i class="material-icons left">perm_contact_calendar</i>Voir profil</a></li>
  <li><a class="waves-effect" href="/dashboard#avis"><i class="material-icons left">assignment_turned_in</i>Mes avis</a></li>
  <li><a class="waves-effect" href="/dashboard#lieux"><i class="material-icons left">location_on</i>Mes lieux</a></li>
  <li><a class="waves-effect" href="/dashboard#favoris"><i class="material-icons left">star</i>Mes favoris</a></li>
  <!-- <li><a class="waves-effect" href="#!">Mes lieux</a></li> -->
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a> -->
{% else %}
{% endif %}
<nav class="black cyan accent-4 navbar-fixed nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo animated jackInTheBox vertical-align-center">
      <img width="140"class="vertical-middle" src="{{ asset ('images/logo-plaintext.png') }}">
    </a>
    <a class="brand-logo center">Tableau de bord</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if is_granted("ROLE_USER") %}
      <li><a>découvrir</a></li>
      <li><a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons left">account_circle</i>{{ app.user.username }}</a></li>
      {% else %}
      <li><a href="/login"><i class="material-icons left">input</i>connexion</a></li>
      <li><a href="/register"><i class="material-icons left">account_circle</i> inscription</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="nav-content white darken-1">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#profil"><i class="material-icons left">account_circle</i>Voir profil</a></li>
      <li class="tab"><a class="active" href="#avis"><i class="material-icons left">assignment_turned_in</i>Mes avis</a></li>
      <li class="tab"><a href="#lieux"><i class="material-icons left medium">location_on</i>Mes lieux</a></li>
      <li class="tab"><a href="#favoris"><i class="material-icons left medium">star</i>Mes favoris</a></li>
    </ul>
  </div>

</nav>
<div id="profil" class="row center">
  <div class="col s12 m12 l12">
    <h3>Mon profil</h3>
  </div>
  <div class="col s12 m12 l12">
    profil
  </div>
</div>
<div id="avis" class="row ">
  <div class="col s12 m12 l12 center">
    <h3>Mes avis</h3>
  </div>
  <div class="col s12">

  <ul class="collection with-header">
  <!-- <li class="collection-header"><h4>Mes avis</h4></li> -->
  {% for advice in advices %}
  <li class="collection-item"><div><strong>{{ advice.place.name|upper }}</strong> le {{advice.date|date('d/m/Y à h:m')}} <br>{{advice.title}} <br>{{ advice.comment }}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
{% endfor %}
</ul>
</div>
</div>
<div id="lieux" class="row center">
  <div class="col s12 m12 l12">
    <h3>Mes lieux</h3>
  </div>
  <div class="col s12 m12 l12">
    lieux
  </div>
  <div class="row">
    {% for place in places %}

    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ place.name|upper }}</span>
          <p> {{ place.city.name }}</p>
        </div>
        <div class="card-action">
          <a href="{{ path('show_place', { 'id': place.id }) }}">Voir</a>
          <a href="{{ path('edit_place', { 'id': place.id }) }}">Modifier</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row center">
    <a class="btn " href="{{ path('new_place') }}">Ajouter un lieu</a>

  </div>

</div>
<div id="favoris" class="row center">
  <div class="col s12 m12 l12">
    <h3>Mes favoris</h3>
  </div>
  <div class="col s12 m12 l12">
    favoris
  </div>
</div>


{% endblock %}

{% block body %}


{% endblock %}
